* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: linear-gradient(to bottom right, #4b0082, #2e0854);
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url('Images/bg.jpeg');
}

#Logo-div {
    width: 100%;
    height: 500px;
    background-image: url('Images/SpaceCove.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 2%;
    margin-bottom: 10px;
}

#nav-wrapper {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 0;
}

#sidebar-toggle {
    background-color: red;
    padding: 10px;
    cursor: pointer;
}

#sidebar-toggle span {
    font-size: 30px;
    color: white;
}

#nav-div {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: black;
    font-size: 20px;
}

#nav-div a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 20px; 
    display: flex;
    align-items: center;
    height: 100%; 
}

#nav-div a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#sidebar-div {
    width: 200px;
    height: 100%;
    max-height: 300px;
    background-color: #370b0b;
    position: fixed;
    top: 60px;
    left: -200px;
    transition: 0.3s;
    padding-top: 60px;
    overflow-y: auto;
}

#sidebar-div a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-align: left;
}

#sidebar-div a:hover {
    background-color: #551a8b;
}

#mainparent-div {
    display: flex;
    margin-left: 0px;
    margin-bottom: 70px;
    transition: 0.3s;
}

#main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.box-div {
    position: relative;
    width: 19%;
    min-height: 400px;
    background-color: lightgray;
    text-align: center;
    margin-bottom: 10px;
}

.box-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 5px;
}

.limited {
    background-color: red;
}

.on-sale {
    background-color: green;
}

.game-of-the-year {
    background-color: blue;
}

#introduction-box {
    width: 100%;
    padding: 20px;
    background-color: black;
    border: 10px solid rgb(198, 43, 35); 
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    clear: both; 
}


#introduction-box h2 {
    color: rgb(198, 43, 35);
}

#introduction-box p {
    font-size: 18px;
    color: #cccbcb;
}


#footer-div {
    width: 100%;
    height: auto;
    background-color: 370b0b;
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#footer-logo img {
    width: 50px;
    height: 50px;
}

#footer-text {
    flex: 1 1 auto;
    text-align: center;
    color: red;

}

#wrapper-div {
    width: 80%;
    margin: auto;
    min-height: 100vh;
}
